# Ignore by directories
.terraform/
# Ignore by filetypes
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.retry
# Ignore by filenames
/packer/variables.json
# Ignore Ansible roles
jdauphant.nginx
